Repository PyTables/PyTables, pull requests merged in 2021-12, with the labels that each got.

#915 Do not flush when read only
  tables/table.py
Labels: defect

#921 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#926 Add windows wheels and independent test to GHA
  .github/workflows/wheels.yml
Labels: enhancement, windows, wheel

#927 Add CI wheel build for MacOS
  .github/workflows/wheels.yml
Labels: wheel, help wanted

#929 Remove MacOS arm64 wheel
  .github/workflows/wheels.yml
Labels: wheel, help wanted, osx-arm64

#930 Build hdf5 from source when building wheels
  .github/workflows/wheels.yml
  ci/github/get_hdf5_if_needed.sh
Labels: wheel, help wanted
